[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
evaluate = "*"
transformers = {extras = ["sentencepiece"], version = "*"}
tensorflow = "*"
torch = "*"
flax = "*"
xformers = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
